.product-detail-container {
  padding: 100px 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.product-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-info {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.product-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.product-description {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}



.original-price {
  font-size: 1rem;
  color: #666;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.discount {
  font-size: 1.1rem;
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-prices{
  font-size: 2rem;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .product-detail-container {
    padding: 80px 15px 15px;
  }

  .product-title {
    font-size: 1.8rem;
  }
  
}